.pageEpmty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  gap: 15px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  h3 {
    // text-align: center;
    font-weight: 600;
    font-size: 22px;
  }

  p {
    font-size: 16px;
    opacity: 0.4;
    line-height: 150%;
    text-align: center;
    max-width: 280px;
    padding-top: 10px;
    padding-bottom: 15px;
  }

  button {
    width: 245px;
    padding: 18px 30px;
    background-color: #9dd458;
    border: none;
    border-radius: 18px;
    font-weight: 600;
    position: relative;
    color: #fff;

    &::after {
      content: url("/img/arrow.svg");
      rotate: 180deg;
      transition: left 0.5s ease-in-out;
      position: absolute;
      left: 25px;
      top: 17px;
    }

    &:hover {
      cursor: pointer;

      &::after {
        left: 5px;
      }
    }
  }
}
