.cartItem {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 20.3125rem;
  padding: 20px;
  border: 1px solid #f3f3f3;
  border-radius: 20px;

  p {
    padding-bottom: 8px;
  }

  span {
    display: flex;
    justify-content: space-between;
  }
}
