*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  // border: 1px solid green;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
ul li {
  list-style: none;
}

body {
  background-color: #e7f6ff;
  // position: relative;
}

.modalOpened {
  overflow-y: hidden;
}

.wrapper {
  max-width: 67.5rem;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 20px;
}

.main {
  padding: 40px 45px;

  &Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &Wrapper {
    display: flex;
    flex-wrap: wrap;
    min-height: 60vh;
    gap: 36px;
  }
}

.search {
  display: flex;
  align-items: center;
  padding: 15px 18px;
  border: 1px solid #f3f3f3;
  border-radius: 10px;

  img {
    margin-right: 15px;
  }

  input {
    border: none;
    outline: none;
  }
}

.pageEpmty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  gap: 30px;
  // padding-top: ;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  h3 {
    // text-align: center;
    font-weight: 600;
    font-size: 22px;
  }

  p {
    font-size: 16px;
    opacity: 0.4;
    line-height: 150%;
    text-align: center;
    max-width: 280px;
    padding-top: 10px;
    padding-bottom: 40px;
  }

  button {
    width: 245px;
    padding: 18px 30px;
    background-color: #9dd458;
    border: none;
    border-radius: 18px;
    font-weight: 600;
    position: relative;
    color: #fff;

    &::after {
      content: url("/img/arrow.svg");
      rotate: 180deg;
      transition: left 0.5s ease-in-out;
      position: absolute;
      left: 25px;
      top: 17px;
    }

    &:hover {
      cursor: pointer;

      &::after {
        left: 5px;
      }
    }
  }
}
